<div id="center_div">
	<table width="80%">
		<tr>
			<td>
				<%= render :partial => "vote", :locals => { :tem => tem } %>
			</td>
			<td>
				<div id="tem">
					<div id="illustration">
					  <% if (tem.illustration.present?) %>
					  	<%= image_tag(tem.illustration, :alt => "", :width => "200" ) %>
					  <% end %>
					</div>
					<%= tem.teret %>
					<div id="knowtheend" onclick='javascript: temReveal(this)'>?</div>
					<div id="misale">
					  <%= tem.misale %>
				  	</div>
				</div>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<div style="float:right;">
	<%= link_to Lookup.find_by_key("edit").value, edit_tem_path(tem) %>
	</div>
					<script type='text/javascript'>

//;
	  				</script>
</div>