<p id="notice"><%= notice %></p>

<%= render :partial => "read", :locals => { :tem => @tem } %>

<%= link_to 'Edit', edit_tem_path(@tem) %> |
<%= link_to 'Back', tems_path %>
<%= link_to 'Destroy', @tem, :confirm => 'Are you sure?', :method => :delete %>